[submodule "Snowflax/vendor/spdlog"]
	path = Snowflax/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SnowflaxTest/vendor/googletest"]
	path = SnowflaxTest/vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/PluginOfTimes/glfw
