[submodule "Snowflax/vendor/spdlog"]
	path = Snowflax/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Snowflax/vendor/GLFW"]
	path = Snowflax/vendor/GLFW
	url = https://github.com/PluginOfTimes/glfw
